# Default ignored files
/shelf/
/workspace.xml
auth/src/main/resources/application.yml
customer/src/main/resources/application.yml
customer/src/main/resources/application.properties
crypto/src/main/resources/application.yml
.env
docker-compose.yml

